@font-face {
  font-family: lato;
  src: url(../assets/fonts/Lato-Black.ttf);
}

body {
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.heading {
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 32%;
  font-family: "lato", sans-serif;
  color: #1890ff;
}

.input-icon-style {
  color: rgba(0, 0, 0, 0.25);
}
