.register-button {
  margin-top: 20px;
}

.signup-form-wrapper {
  width: 600px;
  margin-top: 5%;
  background-color: white;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  overflow: auto;
  height: auto;
}
