.user-sider {
  background: rgb(204, 200, 200);
}

.user-menu {
  /* padding-top: 50px; */
  width: 200px;
  background-color: rgb(243, 244, 245);
  /* position: fixed !important; */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.user-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

.profile-heading {
  padding-top: 15px;
}

.profile-wrapper {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  overflow: auto;
  padding: 8px 24px;
  height: 500px;
  margin-left: 7%;
  margin-right: 7%;
  padding-left: 15%;
  padding-top: 30px;
}

.profile-row {
  padding-bottom: 32px;
}

.regular-profile-input {
  width: 30% !important;
}

.profile-update {
  margin-top: 3%;
  margin-left: 20%;
}

.update-cancel {
  margin-left: 10px;
}
